@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black scrollbar-hide tracking-wider;
  }
}

@layer components {
  .sidebarIcon {
    @apply h-6 w-6 cursor-pointer hover:opacity-70 text-white opacity-60 text-2xl;
  }

  .tag {
    @apply py-1.5 px-3 text-[#CECECE] bg-[#282828] rounded-xl text-xs font-bold border-2 border-[#484848] tracking-wider;
  }

  .genre {
    @apply bg-[#101010] text-[#CECECE] border border-[#484848] rounded-xl py-2.5 px-3.5 text-[11px] font-bold cursor-default;
  }

  .icon {
    @apply hover:scale-125 transition-all duration-150 ease-out;
  }

  .croppedIcon {
    clip-path: inset(0 50% 0 0);
  }

  .playerIcon {
    @apply transition ease-out transform hover:scale-105 hover:text-white;
  }

  .scrollbarThin {
    @apply scrollbar-thin scrollbar-thumb-gray-600 scrollbar-thumb-rounded hover:scrollbar-thumb-gray-500
  }
}